<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294373969120-ghcvt337kqckaq0i81s06d048fb246ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294373969120-ghcvt337kqckaq0i81s06d048fb246ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCFRzFRA0Y5Sj78TRALPcoPw-Ey2JhHa4M</string>
	<key>GCM_SENDER_ID</key>
	<string>294373969120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mila.studentdashboard</string>
	<key>PROJECT_ID</key>
	<string>milastudentdashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>milastudentdashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294373969120:ios:66a09b3a1be2ea92cb9485</string>
</dict>
</plist>